{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static "css/style.css" %} ">
    <link rel="stylesheet" href=" {% static "css/all.min.css" %} ">
    <link rel="stylesheet" href=" {% static "css/fontawesome.min.css" %} ">
    <title>employees</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <header>
        <div class="main">
            <div class="minhead">
                <i class="fa-solid fa-bars" id="rightconexpend"></i>
            </div>
            <ul>
                <li class="selected"><a href="{% url "daycome" %}">صفحة الادمن</a></li>
            </ul>
        </div>
        <div class="username">
                <a href="{% url "logout" %}"><i class="fa-solid fa-power-off"></i></a>
                <h3>{{user.username}}<h3>
        </div>
    </header>
    <div class="window" id="windowcon">
        <i id="closedetwin" class="fa-solid fa-xmark close" ></i>
        <div id="detailcontainer">
            
        </div>
    </div>
    <div class="backcon">
        <div class="rightcon">
            <ul>
                <a href="{% url "home" %}">
                    <li>
                        <i class="fa-solid fa-house-circle-check"></i>
                        <span>الرئيسية</span>
                    </li>
                </a>
                <a href= "{% url "sales" %}">
                    <li>
                        <i class="fa-solid fa-receipt"></i>
                        <span>بيع</span>
                    </li>
                </a>
                <a href="{% url "tempsales" %}">
                    <li>
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <span>الاجل</span>
                    </li>
                </a>
                <a href="{% url "loses" %}">
                    <li>
                        <i class="fa-solid fa-file-export"></i>
                        <span>المصروفات</span>
                    </li>
                </a>
                <a href="{% url "items" %}">
                    <li >
                        <i class="fa-brands fa-airbnb"></i>
                        <span>اضافة بضاعة</span>
                    </li>
                </a>
                <a href="{% url "profits" %}">
                    <li>
                        <i class="fa-solid fa-table-cells"></i>
                        <span>المبيعات</span>
                    </li>
                </a>
                <a href="{% url "shorts" %}">
                    <li>
                        <i class="fa-solid fa-arrow-down-short-wide"></i>
                        <span>النواقص</span>
                    </li>
                </a>
                <a href="{% url "daycome" %}">
                    <li class="activeli">
                        <i class="fa-solid fa-user-tie"></i>
                        <span>صفحة الادمن</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="leftcon">
            <div class="status">
                <ul class="secnav">
                    <li><a href="{% url "daycome" %}">تقفيل اليوم</a></li>
                    <li><a href="{% url "admin" %}">لوحة الادمن</a></li>
                    <li class="active"><a href="{% url "employees" %}">الموظفين</a></li>
                    <li><a href="{% url "safe" %}">الخزنة</a></li>
                </ul>
            </div>
            <div class="status">
                <form method="post" action="" class="othersell">
                    {% csrf_token %}
                    <br><h3>اضافة موظف</h3><br> 
                    <div class="addinputs" >
                        <input name='name' type="text" class="search_bar" min="0" placeholder="اسم الموظف">
                        <input name='job' type="text" class="search_bar" min="0" placeholder="ألوظيفة">
                        <input name='salary' type="number" class="search_bar" min="1" required placeholder="المرتب">
                    </div>
                    <button name="addEmployee" class="sellbtn">اضافة</button>
                </form>
                    <div style="width: 100%;overflow: auto;">
                        <table class="sellstable">
                            <thead>
                                <tr>
                                    <th>اسم الموظف</th>
                                    <th>المرتب</th>
                                    <th>الوظيفة</th>
                                    <th>صافي مرتب الشهر</th>
                                    <th>تاريخ التسجيل</th>
                                    <th>التفاصيل</th>
                                </tr>
                            </thead>
                            <tbody id="tablebody1">
                                {% for employee in employees %}
                                <tr>
                                    <td>{{employee.name}}</td>
                                    <td> {{employee.salary}}</td>
                                    <td>{{employee.job}}</td>
                                    <td>{{employee.rest_salary}}</td>
                                    <td>{{employee.date}}</td>
                                    <td><a href="{% url "employeePage" employee.id %}" class="sellprod" style="text-decoration: none;">عرض</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>   
            </div>
        </div>
        <script>
            const rightconexpend = document.getElementById('rightconexpend')
            const rightcon = document.querySelector('.rightcon')
            //-----------------------------------------------------------------------------------------------------------
            //right container menu size funcion 
            rightconexpend.addEventListener('click',()=>{
                rightcon.classList.toggle( "active" );
            })
        </script>
    </body>
</html>