{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static "css/main.css" %} ">
    <link rel="stylesheet" href=" {% static "css/all.min.css" %} ">
    <link rel="stylesheet" href=" {% static "css/fontawesome.min.css" %} ">
    <title>تسجيل الدخول</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="backcon">
        <img src=" {% static "images/log1.png" %} " id="image1">
        <img src=" {% static "images/log2.png" %} " id="image2">
        <img src=" {% static "images/log3.png" %} " id="image3">
        <img src=" {% static "images/log4.png" %} " id="image4">
        <img src=" {% static "images/santalogo.png" %} " id="tigerLogo">
    <form method="POST" class="logcon">
        {% csrf_token %}
        <h1>مرحبــــــــا بكم</h1>
        <input value = "m" type="hidden" name = 'username' id ='password' placeholder="كلمة المرور">
        <input type="password" name = 'password' id ='password' placeholder="كلمة المرور">
        <button type= 'submit'>تسجيل الدخول</button>
    </form>
</div>
<script>
    window.onload=()=>{
        document.getElementById('password').focus();
    }
</script>
</body>
</html>